{% extends 'layout.html' %}

{% block head %} 
    <title>Flask || Contact</title>
{% endblock %}

{% block body %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Just a formal Contact Page</h1>
            Few ways to contact with me :
            <ul class="list-none pl-5">
                <li class="my-1">Phone : +880-1797-236-966</li>
                <li class="my-1">Email : mahabu723405@gmail.com</li>
                <li class="my-1">Facebook : <a href="https://facebook.com/mahabub.mmm" class="btn btn-sm btn-info" target="_blank">Click to see</a></li>
                <li class="my-1">Instagram : <a href="https://instagram.com/mahabub_74" class="btn btn-sm btn-info" target="_blank">Click to see</a></li>
                <li class="my-1">Github : <a href="https://github.com/mahabubdev" class="btn btn-sm btn-info" target="_blank">Click to see</a></li>
            </ul>
        </div>
    </div>
{% endblock body %}